<p>We have {{accounts?.length}} accounts!</p>
<div>
  <table *ngIf="accounts">
    <thead>
      <tr>
        <th>id</th>
        <th>iban</th>
        <th>holder</th>
        <th>balance</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{account.id}}</td>
        <td>{{account.iban}}</td>
        <td>{{account.holder}}</td>
        <td>{{account.balance}}</td>
        <td><button (click)="delete(account.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
